parameters:
	level: 9
	bootstrapFiles:
	    - Website/src/Scripts/settings.php
	paths:
		- Website
	excludePaths:
	    analyse:
	        - vendor
	        - Website/vendor
	        - Website/autoload.php