<!DOCTYPE html>
<html lang="de">
    <head>
        <meta charset='utf-8'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <title>Index</title>
        <link rel='stylesheet' type='text/css' href='src/Styles/styles.css'>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    </head>
    <body>
    {% block navbar%}
        {% include "navbar.html.twig" %}
    {% endblock %}
    <!-- PARKOUR SPOTS LISTE -->
        <section class="container" >
            <div class="col-6">
                <article class="leistungs-box leistung-box-empfohlen">
                    <div class="message">
                        {{ message.getMessage }}
                    </div>
                    <div class="content">
                        {% block content %}
                        {% endblock %}
                    </div>
                </article>
            </div>
        </section>
    </body>
</html>